<div class="container">
  <div class="row-max-auto">
    <div class="col-lg-10 col-md-10 col-sm-12">
      
      <% if @recipe.errors.any? %>
        <%= @recipe.errors.count %>個のエラーが発生しました。
        <ul>
          <% @recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      
    <h2>レシピ編集</h2>
    <%= form_with(model: @recipe,url: admin_recipe_path(@recipe.id), class:"recipes-post-main", local: true) do |f| %>
      <div class="form-group">
        <%= f.file_field :image, accept: "image/*" %>
      </div>
      <div class="form-group">
        <%= f.text_field :title,placeholder: "タイトル" %>
      </div>
      <div class="form-group">
        <%= f.text_area :description,placeholder: "レシピの紹介文",class: "form-control introduction" %>
      </div>
      <div class="form-group">
        <%= f.number_field :amount,placeholder: "人数", min: 1 %>
      </div>
      
      
    
        <div class="forms-item">
          みかん
        </div>
      
        <div class="add-botton-box">
          <%= link_to_add_association "みかん追加ボタン", f, :recipe_mikans,
          class: 'add_fields',
          id: 'add-btn',
          data: {
            association_insertion_node: '#mikan-association-insertion-point',
            association_insertion_method: 'before'
            }
          %>
        </div>
        <%= f.fields_for :recipe_mikans do |form| %>
          <%= render "recipe_mikan_fields", f: form %>
        <% end %>
        <div id="mikan-association-insertion-point"></div>
        <!-- 2）動的に追加するフォーム(renderで飛ばしている先が追加される) -->
        
        
        
        
        <div class="forms-item">
          材料
        </div>
    
        <div class="add-botton-box">
          <%= link_to_add_association "材料追加ボタン", f, :ingredients,
          class: 'add_fields',
          id: 'add-btn',
          data: {
            association_insertion_node: '#detail-association-insertion-point',
            association_insertion_method: 'before'
            }
          %>
        </div>
    
          <!-- 2）動的に追加するフォーム(renderで飛ばしている先が追加される) -->
          <%= f.fields_for :ingredients do |form| %>
            <%= render "ingredient_fields", f: form %>
          <% end %>
        <div id="detail-association-insertion-point"></div>
      
      
      
      
        <div class="forms-item">
            ステップ
        </div>
      
        <div class="add-botton-box">
          <%= link_to_add_association "ステップ追加ボタン", f, :steps,
          class: 'add_fields',
          id: 'add-btn',
          data: {
            association_insertion_node: '#step-association-insertion-point',
            association_insertion_method: 'before'
            }
          %>
        </div>
        <!-- 2）動的に追加するフォーム(renderで飛ばしている先が追加される) -->
        <%= f.fields_for :steps do |form| %>
          <%= render "step_fields", f: form %>
        <% end %>
        <div id="step-association-insertion-point"></div>
      
      <div>
        <%= f.select :genre, Recipe.genres.keys, {prompt: "選択してください"}, class: "prefecture-select" %>
      </div>
      <div>
        <%= f.fields_for :tags do |form| %>
          <%= render 'tag_fields', f: form %>
        <% end %>
      </div>
    
    <%= f.submit '変更',class: "btn btn-primary" %> 
    
    <% end %>
      
    </div>
  </div>
</div>

