<div class="container">
  <div class="row-mx-auto">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div>
        <div class="recipe-img">
          <% if @recipe.image.attached? %>
            <%= image_tag @recipe.image,class: "recipe-img-1" %>
          <% else %>
            <%= image_tag 'l_e_others_501',class: "recipe-img-no-1"  %>
          <% end %>
        </div>
      
        <% if @recipe.user == current_user %>
        <div>
          <%= link_to edit_recipe_path(@recipe.id) do %>
            <i class="far fa-edit"></i>/
          <% end %>
          <%= link_to recipe_path(@recipe.id), method: :delete, "data-confirm" => "本当に消しますか？" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
        <% end %>
      
        <div class='star-btn' id="favorite_<%= @recipe.id %>">
          <%= render "favorite_fields", recipe: @recipe %>
        </div>
      
      
        <h2><%= @recipe.title %></h2>
        <p>
          <%= link_to my_page_path(@recipe.user.id) do %>
          <%= @recipe.user.nickname %>
          <% end %>
          </p>
        <div><%= simple_format(@recipe.description) %></div>
        
        <h3>使ったみかん</h2>
        <% @recipe.recipe_mikans.each do |rm| %>
          <p><%= "#{rm.mikan.mikan_name} / #{rm.amount}" %></p>
        <% end %>
      
      
        <h3>材料</h3>
        <% @recipe.ingredients.each do |ing| %>
          <p><%= "#{ing.content} / #{ing.quantity}" %></p>
        <% end %>
      
        <div class="steps">
          <% @recipe.steps.each do |step| %>
            <div class="step"></div>
            <div><%= simple_format(step.direction) %></div>
            <div>
              <% if step.images.length > 0 %>
              <% step.images.each do |image| %>
                <%= image_tag image, size: "100x100" %>
              <% end %>  
              <% else %>
                <%= image_tag 'l_e_others_501', size: "100x100" %>
              <% end %>
            </div>
          <% end %>
        </div>
      
        <h3>タグ</h3>
        <ul>
          <%# 該当のPostからアソシエーションでタグを取得 %>
          <% @recipe.tags.each do |tag| %>
            <%# タグを展開 %>
            <li>
              <%= tag.name %>
            </li>
          <% end %>
        </ul>
      
        <h3>ジャンル</h3>
        <%= @recipe.genre %>
    </div>
  </div>
</div>

