<% if @recipe.user == current_user %>
<div><%= link_to "編集", edit_recipe_path(@recipe.id) %></div>
<div><%= link_to '削除',recipe_path(@recipe.id), method: :delete, "data-confirm" => "本当に消しますか？" %></div>
<% end %>



<div class='star-btn' id="favorite_<%= @recipe.id %>">
  <%= render "favorite_fields", recipe: @recipe %>
</div>



<h2><%= @recipe.title %></h2>
<p>
  <%= link_to my_page_path(@recipe.user.id) do %>
  <%= @recipe.user.nickname %>
  <% end %>
  </p>
<div><%= simple_format(@recipe.description) %></div>

<h2>使ったみかん</h2>
<% @recipe.recipe_mikans.each do |rm| %>
  <p><%= "#{rm.mikan.mikan_name} / #{rm.amount}" %></p>
<% end %>


<h2>材料</h2>
<% @recipe.ingredients.each do |ing| %>
  <p><%= "#{ing.content} / #{ing.quantity}" %></p>
<% end %>

<div class="steps">
  <% @recipe.steps.each do |step| %>
    <div class="step"></div>
    <div><%= simple_format(step.direction) %></div>
    <div>
      <% if step.images.length > 0 %>
      <% step.images.each do |image| %>
        <%= image_tag image, size: "200x200" %>
      <% end %>  
      <% else %>
        <%= image_tag 'l_e_others_501', size: "200x200" %>
      <% end %>
    </div>
  <% end %>
</div>

<h3>Tags --></h3>
<ul>
  <%# 該当のPostからアソシエーションでタグを取得 %>
  <% @recipe.tags.each do |tag| %>
    <%# タグを展開 %>
    <li>
      <%= tag.name %>
    </li>
  <% end %>
</ul>