<h1>タグ一覧/投稿</h1>
<%= form_with model: @tag,url: admin_tags_path,method: :post, local: true do |f| %>
  <div class="form-group">
    <label for="name">タグ名</label>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "作成" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>タグ名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @tags.each do |tag| %>
      <td><%= tag.name %></td>
      <td><%= link_to "編集",edit_admin_tag_path(tag.id) %><%= link_to"削除",admin_tag_path(tags.id),method: :delete, "data-confirm" => "本当に消しますか？" %></td>
    <% end %>
    </tr>
  </tbody>
</table>