<div class="mikan-head">
  <%= image_tag 'bg_top-left02_pc.png', class: 'mikan-image' %>
  <div style="margin: -40px auto;" ><%= image_tag 'おばあちゃんの.png', class: 'head-img' %></div>
  <%= image_tag 'bg_top-right02_pc.png', class: 'mikan-image' %>
</div>

<div class="mikan-about">
  <div class="main-mikan-img">
    <%= image_tag 'mikan_New file.png', class: 'mikan-image' %>
  </div>
  <span>ぬくもりを感じる<br>おばあちゃんのみかん情報を皆様へお届けします</span>
  <p>みかんにはたくさんの種類があります。<br>
甘いものから酸味のあるものまで、種類によっておいしさはさまざまです。<br>
食べたいみかんを選ぶための参考にしていただくのはもちろん、<br>
食べごろやおいしいみかんの見分け方など<br>
みかんをたのしむための知識もご紹介しています。<br>
また、みかんを使った皆様のレシピを共有できたらと思います。<br>
おいしさ、たのしさ、豆知識をたっぷり詰め込んだ<br>
おばあちゃんのみかんををお楽しみください。</p>
</div>

<div class="mikan-contents">
  <span class="mikan-contents-title">みかんの種類</span>
  <% @mikans.each do |mikan| %>
    <div class="mikan-content">
      <p><%= mikan.mikan_name %></p>
      <%= link_to mikan_path(mikan.id) do %>
        <% if mikan.images.length > 0 %>
            <%= image_tag mikan.images.first, size: "200x200" %>
        <% else %>
          <%= image_tag 'l_e_others_501', size: "200x200" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

