<div class="mikan-head">
  <%= image_tag 'bg_top-left02_pc.png', class: 'left-img' %>
  <%= image_tag 'おばあちゃんの みかん.png', class: 'head-img' %>
  <%= image_tag 'bg_top-right02_pc.png', class: 'right-img' %>
</div>
<div class="mikan-contents">
  <% @mikans.each do |mikan| %>
    <div class="mikan-content">
      <p><%= mikan.mikan_name %></p>
      <%= link_to mikan_path(mikan.id) do %>
        <% if mikan.images.length > 0 %>
            <%= image_tag mikan.images.first, size: "200x200" %>
        <% else %>
          <%= image_tag 'l_e_others_501', size: "200x200" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

