<div class="mikan-head">
  <%= image_tag 'bg_top-left02_pc.png', class: 'mikan-image' %>
  <div style="margin: -40px auto;" ><%= image_tag 'おばあちゃんの.png', class: 'head-img' %></div>
  <%= image_tag 'bg_top-right02_pc.png', class: 'mikan-image' %>
</div>

<div class="mikan-contents">
  <span class="mikan-contents-title">みかんの種類</span>
  <% @mikans.each do |mikan| %>
    <div class="mikan-content">
      <p><%= mikan.mikan_name %></p>
      <%= link_to mikan_path(mikan.id) do %>
        <% if mikan.images.length > 0 %>
            <%= image_tag mikan.images.first, size: "200x200" %>
        <% else %>
          <%= image_tag 'l_e_others_501', size: "200x200" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

