<div class="mikan-img">
  <% if @mikan.images.length > 1 %>
    <%= image_tag @mikan.images.second,class: "mikan-img-2" %>
  <% else %>
    <%= image_tag 'l_e_others_501',class: "mikan-img-no-2" %>
  <% end %>
</div>

<div>
  <%= @mikan.mikan_name %>
</div>


<div>
  <label for="introduction">特徴</label>
  <%= @mikan.introduction %>
</div>

<div>
  <label for="price">価格</label>
  <%= @mikan.price %>
</div>

<div>
  <label for="sweetness">甘味</label>
  <%= @mikan.sweetness %>
</div>

<div>
  <label for="season">時期</label>
  <%= @mikan.season %>
</div>

<div>
  <label for="tip">豆知識</label>
  <%= @mikan.tip_title %>
  <div>
    <%= @mikan.tip %>
  </div>
</div>


<div class="tip-img">
  <% if @mikan.images.length > 2 %>
      <%= image_tag @mikan.images.third,class: "mikan-img-3" %>
  <% else %>
    <%= image_tag 'l_e_others_501',class:  "mikan-img-no-3" %>
  <% end %>
</div>