<div class="container">
  <div class="row-max-auto">
    <div class="col-lg-10 col-md-10 col-sm-12">
      
      <% if @mikan.errors.any? %>
        <%= @mikan.errors.count %>個のエラーが発生しました。
        <ul>
          <% @mikan.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>      
      
      <h2>みかん編集画面</h2>
      <%= form_with model: @mikan,url: admin_mikan_path(@mikan.id), local: true do |f| %>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">みかんの写真/サブ写真/豆知識写真</label>
          <div class="col-5">
            <%= f.file_field :images, multiple: true %>
          </div>
        </div>
        
        <% if @mikan.images.present? %>
          <p>現在登録されている画像（削除するものはチェックしてください）</p>
          <% @mikan.images.each do |image| %>
            <%= f.check_box :image_ids, {multiple: true}, image.id, false %>
            <%= image_tag image, size:"100x100" %> <br>
          <% end %>
        <% end %>  
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">みかんの種類</label>
          <div class="col-5">
            <%= f.text_field :mikan_name %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">みかんの説明</label>
          <div class="col-5">
            <%= f.text_area :introduction %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">みかんの価格</label>
          <div class="col-5">
            <%= f.text_field :price %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">みかんの甘味</label>
          <div class="col-5">
            <%= f.text_area :sweetness %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">みかんの時期</label>
          <div class="col-5">
            <%= f.text_area :season %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">豆知識タイトル</label>
          <div class="col-5">
            <%= f.text_area :tip_title %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">豆知識説明文</label>
          <div class="col-5">
            <%= f.text_area :tip %>
          </div>
        </div>
        
        <%= f.submit '変更',class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
