<h1>みかん一覧</h1>
<%= link_to "みかん投稿",new_admin_mikan_path %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>種類名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @mikans.each do |mikan| %>
    <tr>
      <td>
        <% if mikan.images.attached? %>
          <% mikan.images.each do |image| %>
            <%= image_tag(image, width:100) %>
          <% end %>  
        <% else %>
          <%= image_tag 'l_e_others_501', size: "200x200" %>
        <% end %>
      </td>
      <td><%= mikan.mikan_name %></td>
      <td><%= link_to "編集",edit_admin_mikan_path(mikan.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>