<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <h2>
        みかん一覧
      <%= link_to new_admin_mikan_path do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>
      </h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>写真</th>
            <th>種類名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @mikans.each do |mikan| %>
          <tr>
            <td>
              <%= link_to admin_mikan_path(mikan.id) do %>
                <% if mikan.images.attached? %>
                  <% mikan.images.each do |image| %>
                    <%= image_tag(image, width:100) %>
                  <% end %>  
                <% else %>
                  <%= image_tag 'l_e_others_501', size: "200x200" %>
                <% end %>
              <% end %>
            </td>
            <td><%= mikan.mikan_name %></td>
            <td>
              <%= link_to edit_admin_mikan_path(mikan.id) do %>
                <i class="far fa-edit"></i>
              <% end %>/
              <%= link_to admin_mikan_path(mikan.id), method: :delete, "data-confirm" => "本当に消しますか？" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
