<div class="container">
  <div class="row-max-auto">
    <div class="col-lg-10 col-md-10 col-sm-12">
      <h2>みかん投稿</h2>

      <%= form_with model: @mikan,url: admin_mikans_path, local: true do |f| %>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">みかんの写真/サブ写真/豆知識写真</label>
          <div class="col-5">
            <%= f.file_field :images, multiple: true %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">みかんの種類</label>
          <div class="col-5">
            <%= f.text_field :mikan_name %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">みかんの説明</label>
          <div class="col-5">
            <%= f.text_area :introduction %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">みかんの価格</label>
          <div class="col-5">
            <%= f.text_field :price %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">みかんの甘味</label>
          <div class="col-5">
            <%= f.text_area :sweetness %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">みかんの時期</label>
          <div class="col-5">
            <%= f.text_area :season %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">豆知識タイトル</label>
          <div class="col-5">
            <%= f.text_area :tip_title %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">豆知識説明文</label>
          <div class="col-5">
            <%= f.text_area :tip %>
          </div>
        </div>
        
        <%= f.submit '新規投稿',class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
