
<div>
  <%= @mikan.mikan_name %>
</div>

<div>
  <% if @mikan.images.attached? %>
    <% @mikan.images.each do |image| %>
      <%= image_tag(image, width:100) %>
    <% end %>  
  <% else %>
    <%= image_tag 'l_e_others_501', size: "200x200" %>
  <% end %>
</div>

<div>
  <label for="introduction">特徴</label>
  <%= @mikan.introduction %>
</div>

<div>
  <label for="price">価格</label>
  <%= @mikan.price %>
</div>

<div>
  <label for="sweetness">甘味</label>
  <%= @mikan.sweetness %>
</div>

<div>
  <label for="season">時期</label>
  <%= @mikan.season %>
</div>

<div>
  <label for="tip">豆知識</label>
  <%= @mikan.tip_title %>
  <div>
    <%= @mikan.tip %>
  </div>
</div>

<div><%= link_to "編集",edit_admin_mikan_path(@mikan.id) %>/<%= link_to '削除',admin_mikan_path(@mikan.id), method: :delete, "data-confirm" => "本当に消しますか？" %></div>
