<div class="mikan-head">
  <%= image_tag 'bg_top-left02_pc.png', class: 'mikan-image' %>
  <div style="margin: -40px auto;" ><%= image_tag 'おばあちゃんの.png', class: 'head-img' %></div>
  <%= image_tag 'bg_top-right02_pc.png', class: 'mikan-image' %>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="user-box-1">
        <div class="user-label">
          <h3><%= @user.name %>さんのページ</h3>
        </div>
        <%= link_to edit_user_path(@user.id) do %>
          <i class="far fa-edit"></i>
        <% end %>
        
        <table class="user-table table-hover table-bordered">
          <thead>
            <tr>
              <th>名前</th>
              <th>ニックネーム</th>
              <th>メールアドレス</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @user.name %></td>
              <td><%= @user.nickname %></td>
              <td><%= @user.email %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    
  <div class="user-recipe-label">
    <h2>
      <%= @user.name %>さんのレシピ
      <% if @user == current_user %>
        <%= link_to new_recipe_path do %>
          <i class="fas fa-plus-circle"></i>
        <% end %>
      <% end %>
    </h2>
  </div>
    
    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-lg-3 col-sm-6">
          <div class="card" style="width:250px;">
            <img class="card-img-top"          
              <% if recipe.image.attached? %>
                <%= image_tag recipe.image, size: "200x200" %>
              <% else %>
                <%= image_tag 'l_e_others_501', size: "200x200" %>
              <% end %> 
    
            <div class="card-body">
              <h4 class="card-title"><%= recipe.title %></h4>
              <p class="card-text"><%= recipe.description %></p>
              <%= link_to "見てみる",recipe_path(recipe.id) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="favorite-label">
      <h2>お気に入り一覧</h2>
    </div>
    <div class="row">
      <% if @favorite_list.present? %>
        <% @favorite_list.each do |favorite| %>
        <div class="col-lg-3 col-sm-6">
          <div class="card" style="width:250px;">
            <img class="card-img-top"          
              <% if favorite.image.attached? %>
                  <%= image_tag favorite.image, size: "200x200" %>
              <% else %>
                <%= image_tag 'l_e_others_501', size: "200x200" %>
              <% end %>
    
            <div class="card-body">
              <h4 class="card-title"><%= favorite.title %></h4>
              <p class="card-text"><%= favorite.description %></p>
              <%= link_to "見てみる",recipe_path(favorite.id) %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
</div>