<h1><%= @user.name %>さんのページ</h1>
<div><%= link_to "レシピ投稿",  new_recipe_path %></div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>名前</th>
      <th>ニックネーム</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.nickname %></td>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>
<%= link_to "編集する",edit_user_path(@user.id) %>

<h2>あなたのレシピ</h2>

  <% @recipes.each do |recipe| %>
  <div>
    <%= link_to recipe_path(recipe.id) do %>
      <% if recipe.image.attached? %>
          <%= image_tag mikan.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'l_e_others_501', size: "200x200" %><br>
      <% end %>          
      <%= recipe.title %>
    <% end %>  
  </div>
  <% end %>
