<h1><%= @user.name %>さんのページ</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>名前</th>
      <th>ニックネーム</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.nickname %></td>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>
<%= link_to "編集する",edit_user_path(@user.id) %>

<p>あなたのレシピ</p>
<table>
  <thead>
    <tr>
      <th></th>
      <th>レシピ名</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
    <tr>
      <td></td>
      <td><%= recipe.title %></td>
    <% end %>  
    </tr>
  </tbody>
</table>