<!DOCTYPE html>
<html>
  <head>
    <title>GlandmaMikan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
          <a class="navbar-brand" href="/">
            <span>みかん</span>
          </a>
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to  'マイページ',my_page_path(current_user) %>
            </li>
            <li class="nav-item">
              <%= link_to 'みんなのレシピ',recipes_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'トップ',root_path %>
            </li>
            <li class="nav-item">
              <%= button_to  'ログアウト',destroy_user_session_path, method: :delete %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to 'ユーザー一覧',admin_users_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'みかん一覧',admin_mikans_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'レシピ一覧', admin_recipes_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'レシピタグ一覧',admin_tags_path %>
            </li>
            <li class="nav-item">
              <%= button_to 'ログアウト',destroy_admin_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'みんなのレシピ',recipes_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'トップ',root_path %>
            </li>
            <li class="nav-item">
              <%= link_to '新規登録',new_user_registration_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログイン',new_user_session_path, class: 'nav-link text-dark' %>
            </li>
          <% end %>
          </ul> 
    </header>    
    
    <main>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      
      <%= yield %>
    </main>
    
  </body>
</html>
