<!DOCTYPE html>
<html>
  <head>
    <title>GlandmaMikan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ebf2981b1c.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-img">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/">mikan</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to  'マイページ',my_page_path(current_user), class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'みんなのレシピ',recipes_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'トップ',root_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= button_to "ログアウト",destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to 'ユーザー一覧',admin_users_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'みかん一覧',admin_mikans_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'レシピ一覧', admin_recipes_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'レシピタグ一覧',admin_tags_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= button_to 'ログアウト',destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'みんなのレシピ',recipes_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'トップ',root_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to '新規登録',new_user_registration_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログイン',new_user_session_path, class: 'nav-link text-dark' %>
              </li>
            <% end %>
            </ul> 
          </div>
        </div>
      </nav>
    </header>    
    
    <main class="main">
      <div class="contents">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
        
        <%= yield %>
      </div>
    </main>
    <footer class="footer">
      <div class="outer">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-md-8">
              <h6 class="text-white mt-2 mb-3">Link</h6>
              <ul class="p-0 list-unstyled">
                <li>
                  <a href="" title="About" class="text-white-50"></a>
                </li>
                <li>
                  <a href="" title="License informations" class="text-white-50"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
